<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
  <ion-item lines="full">
    <ion-label  position="floating" >Nombre: </ion-label>
    <ion-input type="Text"  #nombre required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="Escribir(nombre)"
      expand="block" >Escribir Resultado</ion-button>
    </ion-col>
  </ion-row>
</form>
  <h1 class="Hola">Hello World {{Nombre}}</h1>
  <ion-button  expand="block" routerLink="/cotizador" class="BtnBinance">Cotizar</ion-button>
  <ion-button  expand="block" routerLink="/lambda" class="BtnLambda">Utilizar Api</ion-button>
</ion-content>
