<ion-header>
  <ion-toolbar>
    <ion-title>Cotizador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <p>
        <a style="clear: left;" routerLink="/hello-world">INICIO</a>
      </p>
    </ion-col>
  </ion-row>
  <br/>
  <form>  <ion-item lines="full">
    <ion-label  position="floating" ><strong>De</strong></ion-label> 
    <ion-select placeholder="Moneda" (ionChange)="Asignar_De($event)" >
      <ion-select-option value="BTC">BTC</ion-select-option>
      <ion-select-option value="ETH">ETH</ion-select-option>
      <ion-select-option value="BNB">BNB</ion-select-option>
      <ion-select-option value="USDT"> USDT</ion-select-option>
    </ion-select>
    <br/>
    <ion-input type="number" [disabled]="isenabled" #moneda required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" ><strong>A</strong></ion-label> 
    <ion-select placeholder="Moneda"(ionChange)="Asignar_A($event)" >
      <ion-select-option value="BTC">BTC</ion-select-option>
      <ion-select-option value="BNB">BNB</ion-select-option>
      <ion-select-option value="USDT">USDT</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" [disabled]="isenabled"(click)="Cotizador(moneda)"
      expand="block" >Cotizar</ion-button>
    </ion-col>
  </ion-row>
</form>
<h1>{{Criptomoneda}}</h1>
<ion-button  expand="block" [disabled]="!isenabled" (click)="Confirmar()">Comprar {{time | async }}</ion-button>
<h1>{{Confirmacion}}</h1>
<ion-button  expand="block" (click)="Consultar()" [disabled]="!isQuery">Consultar Compra</ion-button>
<h3><small><b>{{Consulta}}</b></small></h3>
</ion-content>
