<ion-header>
  <ion-toolbar>
    <ion-title>Cotizador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <p>
        <a style="clear: left;" routerLink="/hello-world">INICIO</a>
      </p>
    </ion-col>
  </ion-row>
  <br/>
  <ion-item lines="full">
    <ion-label  position="floating" >Elegir Tu Moneda: </ion-label>
    <ion-input type="number"  #moneda required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" >Elegir Tu Criptomoneda </ion-label>
    <ion-input type="number"  #apellido required></ion-input>
  </ion-item>
</ion-content>
